<mat-toolbar color="primary">
  <span>Angular 13 CRUD</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="accent" (click)="openDialogForNewItem()">
    Add new item
  </button>
</mat-toolbar>

<div class="container">
  <div class="m-2">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
    </mat-form-field>
    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
    
        <ng-container matColumnDef="itemName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let row"> {{row.itemName}} </td>
        </ng-container>
    
        <ng-container matColumnDef="itemCategory">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
          <td mat-cell *matCellDef="let row"> {{row.itemCategory}} </td>
        </ng-container>
    
        <ng-container matColumnDef="itemDateOfArrival">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Arrival Date </th>
          <td mat-cell *matCellDef="let row"> {{row.itemDateOfArrival | date}} </td>
        </ng-container>
    
        <ng-container matColumnDef="itemSource">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Source </th>
          <td mat-cell *matCellDef="let row"> {{row.itemSource}} </td>
        </ng-container>

        <ng-container matColumnDef="itemPrice">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
          <td mat-cell *matCellDef="let row"> {{row.itemPrice | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="comments">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Comments </th>
          <td mat-cell *matCellDef="let row"> {{row.comments}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" (click)="openDialogForEditingItem(row)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteItem(row.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"></mat-paginator>
    </div>
  </div>
</div>